<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container container-fluid">
    <a class="navbar-brand" href="#">GESTIONALE TRANSAZIONI</a>
  </div>
</nav>

<div class="container p-4">
  <router-outlet></router-outlet>
</div>

<!-- MODALS -->

<!-- <div class="modal fade show" [ngClass]="{'d-block': transactionsService.modalOpen}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Sei sicuro di voler eliminare questa transazione?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">NO</button>
        <button type="button" class="btn btn-danger" (click)="">SI</button>
      </div>
    </div>
  </div>
</div> -->